Flask==2.2.2
requests>=2.28.1
certifi>=2022.6.15
urllib3==1.26.11
pandas==1.4.3
six==1.16.0
Werkzeug==2.2.2
cachetools>=5.2.0
Flask-HTTPAuth~=4.7.0
python_dateutil>=2.5.3
setuptools==65.0.1
google-cloud-dialogflow==2.15.1
gunicorn>=19.9.0
numpy==1.23.2
