Flask~=2.1.2
requests~=2.27.1
certifi~=2021.10.8
urllib3~=1.26.9
pandas~=1.4.2
six~=1.15.0
python_dateutil>=2.5.3
setuptools>=21.0.0
google-cloud-dialogflow==2.13.0
Werkzeug~=2.1.2
Flask-HTTPAuth

cachetools~=4.2.4

schedule~=1.1.0
