Flask==2.3.2
requests==2.30.0
certifi==2023.5.7
urllib3==2.0.2
pandas==2.0.1
six==1.16.0
Werkzeug==2.3.4
cachetools==5.3.0
Flask-HTTPAuth==4.8.0
python_dateutil==2.8.2
setuptools==67.7.2
gunicorn==20.1.0
numpy==1.24.3
yagmail==0.15.293
icalendar==5.0.5
